{% extends "skel/base.skel.html" %}
{% block title %}Bits of knowledge{% endblock %}
{% block main %}
<p class="blurb">
  <b>SnipBin</b> is a repository of snippets collected and shared by web users.
</p>
<div>
  <img src="/distort_snipbin_small.png" style="float:right">
  <p class="blurb">
    Whenever you browse the web, you always stumble upon bits of information that
    you would like to keep around for future reference. Maybe you are collecting
    shopping ideas, or references for your research work, or blog citations about
    your most recent achievements.
  </p>
  <p class="blurb">
    Whatever your objective is, <b>SnipBin</b> is the best way to collect
    snippets from webpages, save them together and publish them on the web
    for your friends to see!
  </p>
  <p class="blurb">
    <img src="/chrome.png" style="float:left">
    <b>SnipBin</b> is tightly integrated with <a href="http://www.google.com/chrome/">Chrome</a>,
    a new web browser from Google. You need to have <a href="http://www.google.com/chrome/">Chrome</a>
    installed in order to collect and upload snippets, but you can use any other browser
    to navigate this website and see what other people have collected and shared.
  </p>
  <h3>How it works?</h3>
  <p class="blurb">
    First, you install the <a href="/extension">Snippy Chrome Extension</a>. Extensions
    are small components that augment the functionalities of the Chrome browser.
  </p>
  <p class="blurb">
    Once installed, you use the extension to grab snippets and parts of web pages.
    You can collect as many snippets as you want, organize and delete them. If you want
    you can keep them on your machine only, or you can upload them to <b>SnipBin</b>,
    where you can keep them for future reference, or share them with the world!
  </p>
  <p style="text-align: center">
  <span class="getstarted"><a href="https://chrome.google.com/extensions/detail/maabelkjnhafpphacjecmcnkkmjndjgl">
    Install Snippy Chrome Extension
  </a></span>
  </p>
  <p class="blurb" style="text-align:center">
    or <a href="/extension">learn more about it</a>.
  </p>
</div>
<div class="clear-right"></div>
{% endblock %}