{% extends "skel/base.skel.html" %}
{% block title %}Bits of knowledge{% endblock %}
{% block main %}
<p class="blurb">
  <b>SnipBin</b> depends on the following third-party components:
</p>
<ul>
  <li><a href="http://www.oxygen-icons.org/">Oxygen Icon set</a> for the SnibBin logo</li>
  <li>
    Various other icon providers:
    <a href="http://www.iconerz.com/2009/04/elegant-blue-web-icon-pack.html">Iconerz</a>,
    <a href="http://www.iconarchive.com/category/people/people-disability-icons-by-anatom5.html">Anatom5</a>.
  </li>
  <li><a href="http://www.jquery.com">JQuery</a> and related plugins (<a href="http://onehackoranother.com/projects/jquery/boxy/">Boxy</a>)
    for the javascript magic.</li>
  <li><a href="http://www.crummy.com/software/BeautifulSoup/">Beautiful Soup</a>.</li>
</ul>
{% endblock %}