{% extends "skel/base.skel.html" %}
{% block title %}Bits of knowledge{% endblock %}
{% block main %}
<div>
  <img src="/distort_snipbin_small.png" style="float:right">
  <p class="blurb">
    <b>SnipBin</b> is a repository of snippets collected and shared by web users.
  </p>
  <p class="blurb">
    Whatever your objective is, <b>SnipBin</b> is the best way to collect
    snippets from webpages, save them together and publish them on the web
    for your friends to see!
  </p>
  <p style="text-align:center">
  <span class="getstarted"><a href="/extlogin">
    Login
  </a></span>
  </p>
  <p class="blurb" style="text-align:center">
    using your Google account.
  </p>
  <p>
    SnipBin does not have access to and will not store your Google account
    password.
  </p>
</div>
<div class="clear-right"></div>
{% endblock %}