{% extends "skel/base.skel.html" %}
{% block title %}Bits of knowledge{% endblock %}
{% block main %}
<p class="blurb">The best way to add your content and snippets to SnipBin is to install
  the <b>Snippy</b> extension for <a href="http://www.google.com/chrome/">Google Chrome</a>.
</p>
<p style="text-align: center">
<span class="getstarted"><a href="https://chrome.google.com/extensions/detail/maabelkjnhafpphacjecmcnkkmjndjgl">
  Install Snippy Chrome Extension
</a></span>
</p>
<p style="text-align:center">
(you must use Google Chrome or Chromium for the extension to install successfully)
</p>
<h3>Usage</h3>
<p class="blurb">
  Once installed, you will see an extra <em>marker</em> icon in the toolbar. Click it to start
  grabbing snippets from any web page you visit.<br />
  Snippets can be anything! Product reviews from Amazon, excerpts from Wikipedia,
  citations to papers you care about, blog posts and much more.
</p>
<p style="text-align: center">
  <img src="/extension_arrow.png">
</p>
<p class="blurb">
  Once you are satisfied with the snippets you have collected, click the
  <em>marker</em> icon again to review and edit them.
</p>
<p style="text-align: center">
  <img src="/extension_menu.png">
</p>
<p class="blurb">
  Once you are satisfied with your selection, upload it to <b>SnipBin</b>, and,
  if you want to, share it with the rest of the world! It's that easy!
</p>
<p style="text-align: center">
  <img src="/extension_transfer.png">
</p>
<p class="blurb">
  Still not convinced? We have demo videos for you too!
</p>
<p style="text-align: center">
<span class="getstartedmono"><a href="http://www.youtube.com/watch?v=sIIPuAoxvWQ" target="_blank">
  Video Demonstration
</a></span> &nbsp; &nbsp;
<span class="getstarted"><a href="https://chrome.google.com/extensions/detail/maabelkjnhafpphacjecmcnkkmjndjgl">
  Install Snippy
</a></span>
</p>

{% endblock %}