{% extends "skel/base.skel.html" %}
{% block title %}Bits of knowledge{% endblock %}
{% block main %}
<h3>For Those on the Go</h3>

<p>Don't violate anyone's copyright, do anything illegal, anything “really stupid”, 
or anything offensive with <b>SnipBin</b>. Oh, and by reading this you've agree to all 
the below as well. Nifty, eh? Oh, and if anything bad happens or the stuff hits 
the fan, it's your fault, not ours.
</p>

<h3>So, you've got spare time or you're a lawyer?</h3>

<p>Neither <b>SnipBin</b> nor Riccardo Govoni (The Creator) make any warranty about your use of
this site or the content you'll find here. We don't guarantee it will be useful
for your purposes. In fact we don't guarantee it'll be useful for any purposes
at all (though we think it is). Neither <b>SnipBin</b> nor The Creator shall be held
accountable for the accuracy (or lack thereof) of content here nor damage
done regarding how people use (or abuse) the content.
</p>

<p>The following rules apply to every snippet you save to <b>SnipBin</b>. Whether you've read
them or not it's understood that you've agreed to these terms and are therefore
bound by them. If you break them we'll come after you with a big stick - or worse.</p>

<h4>Conditions of Use</h4>

<p>You are responsible and liable for the things you save to <b>SnipBin</b> and you agree not to do 
any of the following immature things:</p>
<ul>
<li>Harrass, threaten, or say untrue things about anyone - that can result in hurt
feelings and all sorts of other misunderstandings.</li>
<li>Break the law (especially Copyright law), any of it (local, state, national, international)
   - because that would be bad and you know it.</li>
<li>Save anything that you've been told not to by the original author</li>
<li>Advertising of your goods or services is not allowed</li>

<h4>Content</h4>

<p>You accept all risk and liability for snippets you save. <b>SnipBin</b> and The Creator
are not responsible for your bad choices (thankfully so). We don't screen all snippets,
although we do reserve the right to remove then at will for any reason,
especially content we deem inappropriate or in violation of this agreement.</p>

<p>We may monitor snippets if we so choose, and we may deny access to individuals who
break these rules. You've been warned.</p>

<h4>Usage</h4>

<p>You accept all risk and liability. <b>SnipBin</b> and The Creator are not responsible for
any loss, damages, emotional breakdowns, psychiatrist visits, or any other
“bad thing” that comes about either directly or indirectly because of <b>SnipBin</b>. 
Any information you retrieve or use from <b>SnipBin</b> is done at your own risk.</p>

<h4>Private Snippets</h4>

<p>Although we do offer “private” snippets for convenience you should evaluate this
feature and ensure it meets your definition of privacy and your standard of risk
management. We make no guarantees... and that stuff above about your accepting
all risk and liability, ditto.</p>

<p><em>Most of the above Terms and Conditions have been ported from
  <a href="http://pastie.org/legal/">Pastie</a>, because <b>SnipBin</b> has
  pretty much the same scope, and we like the wording used over there.
  Thanks to Josh Goebel for drafting them out in the first place.</em>
</p>

<h3>For Everybody accessing SnipBin contents</h3>
<p>Although we try to clean and sanitize the uploaded snippets from malware, scripts
  and other malicious things that could be use to steal your personal data or worse,
  we cannot guarantee a 100% success ratio.
</p>
<p>
  <b>Pay always close attention</b> before clicking any link or looking into
  public snippets. You do so at your own risk. There is always the possibility
  of some malicious scripts bypassing our filters.
</p>
<p>If you find offensive or abusive snippets, or any other kind of snippets that
  you consider inappropriate for this service, please use the provided links to
  <b>report abuses</b>. We do look at them, and we will promptly respond to any
  abuse notification.
</p>
{% endblock %}