{% extends "skel/base.skel.html" %}
{% block title %}Bits of knowledge{% endblock %}
{% block main %}
  {% if snippages %}
    {% include "inc/ordering.inc.html" %}
    <ul>
    {% for snippage in snippages %}
      <li>
        {% show_snippage snippage "show_abuses|edit_public|edit_delete" %}
      </li>
    {% endfor %}
    </ul>
    {% include "inc/pagination.inc.html" %}
  {% else %}
    <ul>
      <li>
        <div class="snippet">
          You have no snippets. Is this the first time you log in to <b>SnipBin</b>?
          <p>
          <span class="getstarted"><a href="/about">
            Get Started!
          </a></span>
          </p>
        </div>
      </li>
    </ul>
  {% endif %}
{% endblock %}