<html>
<head>
  <link rel="stylesheet" href="/stylesheets/snipbin.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div class="logo"></div>
  <div class="vertical-column">
    <h1>SnipBin :: bits of knowledge</h1>
    <p class="abstract">
      <b>SnipBin</b> is a repository of snippets collected and shared by
      web users, for web users.
    </p>
    <div class="clear-right"></div>
    <p>
      <b>Note:</b> This website is absolutely temporary! It exists for the
      purpose of hosting snippets uploaded via the Snippy Chrome Extension... 
      Everything works fine, It's just lacking posh stylesheets and images!
    </p>
  
    <p>
      {% if logged_in %}
        <a href="/my">My Snippets</a>
        <a href="{{logout_url}}">Logout</a>
      {% else %}
        <a href="/my">Login</a>
      {% endif %}
    </p>
    {% include "ordering.inc.html" %}
    {% if snippages %}
      <ul>
      {% for snippage in snippages %}
        <li>
            <div id="{{ snippage.key }}">
            {{ snippage.m.title }}<br />
            Key: <a href="/view?key={{ snippage.key }}">{{ snippage.key }}</a><br />
            Created on: {{ snippage.m.created }}<br />
            Public? <span class='page-public'>{{ snippage.m.public }}</span><br />
            Views: {{ snippage.m.views }}<br />
            Owner: {{ snippage.m.owner }}<br />
            Snippets: {{ snippage.snippets_count }}<br />
            Abuses: {{ snippage.abuses_count }}<br />
            </div>
          </li>
      {% endfor %}
      </ul>
      {% include "pagination.inc.html" %}
    {% else %}
      No public snippets ?!
    {% endif %}
  </div>
</body>
</html>