{% extends "skel/base.skel.html" %}
{% block script %}
  <script type="text/javascript" charset="utf-8">
    // Resize iframe to full height
    function resizeIframe(height)
    {
      // "+10" is a general rule of thumb to allow for differences in
      // IE & and FF height reporting, can be adjusted as required..
      document.getElementById('snippet-iframe').height = parseInt(height)+10;
    }    
  </script>
{% endblock %}
{% block title %}{{ snippage.m.title|escape }}{% endblock %}
{% block main %}
  {% if is_admin and not is_owner %}
  <div class="adminconsole">
    Owner email: <b><a href="/admin/user?email={{snippage.m.owner.email}}">
      {{snippage.m.owner.email}}
    </a></b>.
    This snippet is <b>{% if snippage.m.public %}public{% else %}private{% endif %}</b>.
  </div>
  {% endif %}
  
  <div id="{{ snippage.key }}" class="snippet">
    <!-- Flagged? {{ snippage.m.flagged }} -->
    <!-- Abuses? {{ snippage.abuses_count }} -->      
    <div class="metaview">
      <form class="snippet-form">
        <input type="hidden" name="key" value="{{ snippage.key }}">
        <input type="hidden" name="public" value="{{ snippage.m.public }}">
        {% if not is_owner or is_admin %}
          <a href="#" class="abuse">Report abuse</a>
        {% endif %}
        {% if is_owner or is_admin %}
          <span class="public" {% if not snippage.m.public %}style="display:none"{% endif %} title="Public snippet. Click to make private.">
            Public
            <img src="/snippet_public.png" class="bottom" alt="Public snippet. Click to make private.">
          </span>
          <span class="private" {% if snippage.m.public %}style="display:none"{% endif %} title="Private snippet. Click to make public.">
            Private
            <img src="/snippet_private.png" class="bottom" alt="Private snippet. Click to make public.">
          </span>
          <span class="delete deleteitem" title="Delete this snippet">
            Delete
            <img src="/snippet_delete.png" class="bottom" alt="Delete this snippet">
          </span>
        {% endif %}
      </form>
      
      <span>
        <img src="/snippet_views.png" class="bottom" title="Views" alt="Views" >
        <span class="views">{{ snippage.m.views }}</span> views
      </span>
      <span>
        <img src="/snippet_owner.png" class="bottom" title="Author" alt="Author">
        {{ snippage.m.owner.nickname }}
      </span>
      <span>
        <img src="/snippet_created.png" class="bottom" title="Creation Date" alt="Creation Date">
        {{ snippage.m.created|naturalTimeDifference }}
      </span>
      <span>
        <img src="/snippet_num.png" class="bottom" title="Number of snippets" alt="Number of snippets">
        {{ snippage.snippets_count }} fragments 
      </span>
      {% if is_owner and snippage.abuses_count %}
        <span>
          <img src="/snippet_abuses.png" class="bottom" title="Number of abuse reports" alt="Number of abuse reports">
          {{ snippage.abuses_count }} abuse reports
        </span>
      {% endif %}
      {% if snippage.unique_snippet_urls %}
        <div class="origin">
          Snippets originally from:
          {% for uurl in snippage.unique_snippet_urls %}
            <br /><a href="{{ uurl|escape }}">{{ uurl|escape }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="clear-both"></div>
  </div>
  <iframe id="snippet-iframe" src="http://{{inc_host}}/inc?key={{ snippage.key }}" 
    width="100%" style="border: 0" frameborder="0" scrolling="no" class="autoHeight">
  </iframe>
  {% if is_owner or is_admin %}{% if snippage.abuses_count %}
    {% show_abuses snippage %}
  {% endif %}{% endif %}
{% endblock %}