<h3>Abuse Reports</h3>
<ul>
{% for abuse in snippage.m.abuses %}
  <li>
    <div class="snippet">
      <div class="meta">
        <span>
          {{ abuse.reporter.nickname }}
          <img src="/snippet_owner.png" class="bottom" title="Reporter" alt="Reporter">
        </span><br />
        <span>
          {{ abuse.created|naturalTimeDifference }}
          <img src="/snippet_created.png" class="bottom" title="Creation Date" alt="Creation Date">
        </span><br />
      </div>
      {{ abuse.message|escape|linebreaksbr }}
      <div class="clear-both"></div>
    </div>
  </li>
{% endfor %}
</ul>
