<div id="{{ snippage.key }}" class="snippet">
  <!-- Flagged? {{ snippage.m.flagged }} -->
  <!-- Abuses? {{ snippage.abuses_count }} -->
  <!-- Public? {{ snippage.m.public }} -->           
  <a class="viewitem" href="/view?key={{ snippage.key }}">{{ snippage.m.title|escape }}</a>
  <div class="meta">
    <span>
      <span class="views">{{ snippage.m.views }}</span> views
      <img src="/snippet_views.png" class="bottom" title="Views" alt="Views" >
    </span><br />
    <span>
      {{ snippage.m.owner.nickname }}
      <img src="/snippet_owner.png" class="bottom" title="Author" alt="Author">
    </span><br />
    <span>
      {{ snippage.m.created|naturalTimeDifference }}
      <img src="/snippet_created.png" class="bottom" title="Creation Date" alt="Creation Date">
    </span><br />
    <span>
      {{ snippage.snippets_count }} fragments 
      <img src="/snippet_num.png" class="bottom" title="Number of snippets" alt="Number of snippets">
    </span><br />
    {% if show_abuses and snippage.abuses_count %}
      <span>
        {{ snippage.abuses_count }} abuse reports
        <img src="/snippet_abuses.png" class="bottom" title="Number of abuse reports" alt="Number of abuse reports">
      </span><br />
    {% endif %}    
  </div>
  <div class="actions">
    <form class="snippet-form">
      <input type="hidden" name="key" value="{{ snippage.key }}">
      {% if edit_public %}
        <p>
          <input type="hidden" name="public" value="{{ snippage.m.public }}">
          <span class="public" {% if not snippage.m.public %}style="display:none"{% endif %} title="Public snippet. Click to make private.">
            Public
            <img src="/snippet_public.png" class="bottom" alt="Public snippet. Click to make private.">
          </span>
          <span class="private" {% if snippage.m.public %}style="display:none"{% endif %} title="Private snippet. Click to make public.">
            Private
            <img src="/snippet_private.png" class="bottom" alt="Private snippet. Click to make public.">
          </span>
        </p>
      {% endif %}
      {% if edit_delete %}
        <p>
          <span class="delete deletelist" title="Delete this snippet">
            Delete
            <img src="/snippet_delete.png" class="bottom" alt="Delete this snippet">
          </span>
        </p>
      {% endif %}
      {% if edit_abuses %}
        <a href="#" class="abuse">Report abuse</a>
      {% endif %}
    </form>
  </div>
  <div class="clear-both"></div>
</div>