<html>
<head>
  <link rel="stylesheet" href="/stylesheets/snipbin.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/boxy.css" type="text/css" media="screen" charset="utf-8">
  <script>
    {% if logged_in %}
      var logged_in = true;
    {% else %}
      var logged_in = false;    
    {% endif %}
  </script>
  <script src="/js/jquery-1.4.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/jquery.json-2.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/jquery.boxy.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/snipbin.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"> </script>
  {% block script %}{% endblock %}
  <title>SnipBin :: {% block title %}{% endblock %}</title>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
</head>
<body {% if is_admin %}class="admin"{% endif %}>
  <div class="logo">
    <a href="/">
      {% if is_admin %}
        <img src="/snipbin_icon_admin.png">
      {% else %}
        <img src="/snipbin_icon.png">
      {% endif %}
    </a>
  </div>
  <div class="title">
    <h1><a href="/">SnipBin :: bits of knowledge {% if is_admin %}:: Administrator {% endif %}</a></h1>
  </div>
  <ul class="headerbar">
      {% block headerbar %}
        <li class="headerentry">
          <a href="/extension">Chrome Extension</a>
        </li>
        <li class="headerentry">
          <a href="/about">About</a>
        </li>
        <li class="headerentry last">
          {% if logged_in %}
            <a href="/logout">Logout</a>
          {% else %}
            <a href="/my">Login</a>
          {% endif %}
        </li>      
      {% endblock %}
  </ul>
  <div class="main">
    <p class="abstract">
      <b>SnipBin</b> is a repository of snippets collected and shared by
      web users, for web users.
      <a href="/about">Learn more</a>
    </p>
    {% show_title %}
    {% show_fliplinks %}
    <div class="clear-both"></div>
    {% if xsrf_token %}
      <input type="hidden" id="xsrf_token" value="{{ xsrf_token }}">
    {% endif %}
    {% block main %}{% endblock %}
  </div>
  <div class="main footer">
    {% block footer %}
      <p>
        <b>SnipBin</b> supports the following browsers:
        <span class="shaded">
          <img src="/chrome.png"> Google Chrome
          <img src="/firefox.png"> Mozilla Firefox
          <img src="/safari.png"> Safari
          <img src="/opera.png"> Opera
        </span><br />
        Using Internet Explorer? Please install <a href="http://code.google.com/chrome/chromeframe/">Google Chrome Frame</a>.
      </p>
      <p>
        <b>SnipBin</b> is open source. <a href="http://code.google.com/p/snippy-extension/">Get the code</a>.
        <a href="/legal">Legal</a>. <a href="/about">About</a>. <a href="/credits">Credits</a>. v{{app_version_id}}
      </p>
    {% endblock %}
  </div>
  <script>
   CFInstall.check();
  </script>
</body>
</html>